{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}


<div class="breadcrumb breadcrumb-style-one">
 <div class="container">
<div class="col-lg-12 text-center">
<h2 class="breadcrumb-title">Contact Us</h2>
<ul class="d-flex justify-content-center breadcrumb-items">
<li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
<li class="breadcrumb-item active">Contact Us</li>
</ul>
</div>
</div>
</div>


<div class="contact-wrapper pt-100">
<div class="container">
<div class="row align-items-center justify-content-lg-center gy-5">
<div class="col-lg-6">
<div class="contatc-intro-figure">
<img src="{% static 'web/images/banner/contact-bg.png' %}" alt="" class="img-fluid">
</div>
</div>
<div class="col-lg-5">
<div class="contact-info">
<h3>Contact Info.</h3>
<ul>
<li>
<h6>Let’s Talk</h6>
<a href="https://demo.egenslab.com/cdn-cgi/l/email-protection#cba2a5ada48baeb3aaa6bba7aee5a8a4a6"><span class="__cf_email__" data-cfemail="b5dcdbd3daf5d0cdd4d8c5d9d09bd6dad8">[email&#160;protected]</span></a>
<a href="https://demo.egenslab.com/cdn-cgi/l/email-protection#3851565e57785d40595548545d165b5755"><span class="__cf_email__" data-cfemail="89e0e7efe6c9ecf1e8e4f9e5eca7eae6e4">[email&#160;protected]</span></a>
<a href="tel:8801761111456">+88 0176 1111 456</a>
</li>
<li>
<h6>Loacation.</h6>
<a href="#">168/170, Ave 01, Streets Suite 666 Mirpur DOHS, Bangladesh</a>
</li>
<li>
<h6>Visit Us.</h6>
<a href="#">Facebook: https://www.facebook.com/egenslab</a>
<a href="#">Twitter: https://www.twitter.com/egenslab</a>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="container-fluid p-0">
<div class="contact-map mt-120">
<div class="mapouter">
<div class="gmap_canvas">
<iframe id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&amp;t=&amp;z=9&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe><a href="https://123movies-to.org/"></a><br>
</div>
</div>
</div>
</div>
<div class="container mt-120">
<form action="#" id="contact_form">
<div class="contact-form-wrap">
<h4>Get a free Keystroke quote now</h4>
<p>Your email address will not be published. Required fields are marked *</p>
<div class="row">
<div class="col-lg-6">
<div class="custom-input-group">
<label for="name">Name</label>
<input type="text" placeholder="Your name" id="name">
</div>
</div>
<div class="col-lg-6">
<div class="custom-input-group">
<label for="email">Email</label>
<input type="text" placeholder="Your Email" id="email">
</div>
</div>
</div>
<div class="custom-input-group">
<textarea cols="20" rows="7" placeholder="Your message"></textarea>
</div>
<div class="custom-input-group">
<div class="submite-btn">
<button type="submit">Send Message</button>
</div>
</div>
 </div>
</form>
</div>
</div>


{% endblock %}