{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}


<div class="breadcrumb breadcrumb-style-one">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="breadcrumb-title">{{place.place_name}}</h2>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
                <li class="breadcrumb-item active">{{place.place_name}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="destination-details-wrapper pt-110">
    <div class="container">
        <div class="row">
            {% for images in images %}
            <div class="col-lg-4">
                <div class="destination-details">
                    <div class="dd-thumb">
                        <img src="{{images.image.url}}" alt="">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}