{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}

<div class="breadcrumb breadcrumb-style-one">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="breadcrumb-title">{{package_details.place_name}} Package</h2>
            <ul class="d-flex justify-content-center breadcrumb-items">
                <li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
                <li class="breadcrumb-item active">{{package_details.place_name}} Package</li>
            </ul>
        </div>
    </div>
</div>

<div class="package-details-wrapper pt-76">
    <div class="container">
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="tour-package-details">
                    <div class="pd-header">
                        <div class=" pd-top row row-cols-lg-4 row-cols-md-2 row-cols-2 gy-4">
                            <div class="col">
                                <div class="pd-single-info">
                                    <div class="info-icon">
                                        <img src="{% static 'web/images/icons/pd1.svg' %}" alt="">
                                    </div>
                                    <div class="info">
                                        <h6>Duration</h6>
                                        <span>{{package_details.total_days}} Days</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="pd-single-info">
                                    <div class="info-icon">
                                        <img src="{% static 'web/images/icons/pd2.svg' %}" alt="">
                                    </div>
                                    <div class="info">
                                        <h6>Tour Type</h6>
                                        <span>{{package_details.tour_type}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="pd-single-info">
                                    <div class="info-icon">
                                        <img src="{% static 'web/images/icons/pd3.svg' %}" alt="">
                                    </div>
                                    <div class="info">
                                        <h6>Group Size</h6>
                                        <span>{{package_details.group_size}} People</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pd-thumb">
                            <img src="{{package_details.image_1.url}}" alt="">
                        </div>
                        <div class="header-bottom">
                            <div class="pd-lavel d-flex justify-content-between align-items-center flex-wrap gap-2">
                                <!-- <h5 class="location"><i class="bi bi-geo-alt"></i> Mount Dtna, Spain</h5> -->
                                <ul class="d-flex align-items-center rating">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                </ul>
                            </div>
                            <h2 class="pd-title">{{package_details.place_name}}</h2>
                        </div>
                    </div>
                    <div class="package-details-tabs">
                        <ul class="nav nav-pills tab-switchers gap-xxl-4 gap-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-package1" data-bs-toggle="pill"
                                    data-bs-target="#pill-body1" type="button" role="tab" aria-controls="pill-body1"
                                    aria-selected="true"><i class="bi bi-info-lg"></i> Information</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-package3" data-bs-toggle="pill"
                                    data-bs-target="#pill-body3" type="button" role="tab" aria-controls="pill-body3"
                                    aria-selected="false"><i class="bi bi-images"></i> Tour Gallary</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">

                            <div class="tab-pane fade show active package-info-tab mt-3" id="pill-body1" role="tabpanel"
                                aria-labelledby="pills-package1">
                                <h3 class="d-subtitle">Package Details</h3>
                                <p>{{package_details.package_details}}</p>
                                <div class="p-info-featured-img row position-relative g-4 row-cols-1 row-cols-sm-2">
                                    <div class="col">
                                        <div class="featured-img">
                                            <img src="{{package_details.image_2.url}}" alt="">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="featured-img">
                                            <img src="{{package_details.image_3.url}}" alt="">
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>

                            

                            <div class="tab-pane fade package-gallary-tab mt-3" id="pill-body3" role="tabpanel"
                                aria-labelledby="pills-package3">
                                <div class="row g-4">
                                    <div class="col-6">
                                        <div class="package-gallary-item">
                                            <a href="{{package_details.image_1.url}}" data-fancybox="gallery"
                                                data-caption="Caption Here"><img src="{{package_details.image_1.url}}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="package-gallary-item">
                                            <a href="{{package_details.image_2.url}}" data-fancybox="gallery"
                                                data-caption="Caption Here"><img src="{{package_details.image_2.url}}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="package-gallary-item">
                                            <a href="{{package_details.image_3.url}}" data-fancybox="gallery"
                                                data-caption="Caption Here"><img src="{{package_details.image_3.url}}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="package-gallary-item">
                                            <a href="{{package_details.image_4.url}}" data-fancybox="gallery"
                                                data-caption="Caption Here"><img src="{{package_details.image_4.url}}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="package-gallary-item">
                                            <a href="{{package_details.image_5.url}}" data-fancybox="gallery"
                                                data-caption="Caption Here"><img src="{{package_details.image_5.url}}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="package-gallary-item">
                                            <a href="{{package_details.image_6.url}}" data-fancybox="gallery"
                                                data-caption="Caption Here"><img src="{{package_details.image_6.url}}"
                                                    alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade package-location-tab mt-3" id="pill-body4" role="tabpanel"
                                aria-labelledby="pills-package4">
                                <div class="mapouter">
                                    <div class="gmap_canvas">
                                        <iframe id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&amp;t=&amp;z=9&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe><a
                                            href="https://123movies-to.org/"></a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>


{% endblock %}