{% load static %}

<body>




    <div class="mobile-search">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-11">
                    <label>What are you lookking for?</label>
                    <input type="text" placeholder="Search Products, Category, Brand">
                </div>
                <div class="col-1 d-flex justify-content-end align-items-center">
                    <div class="search-cross-btn">

                        <i class="bi bi-x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="category-sidebar-wrapper">
        <div class="category-sidebar">
            <div class="category-header d-flex justify-content-between align-items-center">
                <h4>Category</h4>
                <div class="category-toggle">
                    <i class="bi bi-x-lg"></i>
                </div>
            </div>
            <div class="row row-cols-lg-3 row-cols-2 gy-5 mt-3">
                <div class="col">
                    <a class="category-box" href="package.html">
                        <div class="cate-icon mx-auto">
                            <img src="{% static 'web/images/icons/cate1.svg' %}" alt="">
                        </div>
                        <h5>Adventure</h5>
                    </a>
                </div>
                <div class="col">
                    <a class="category-box" href="package.html">
                        <div class="cate-icon mx-auto">
                            <img src="{% static 'web/images/icons/cate2.svg' %}" alt="">
                        </div>
                        <h5>Group Tour</h5>
                    </a>
                </div>
                <div class="col">
                    <a class="category-box" href="package.html">
                        <div class="cate-icon mx-auto">
                            <img src="{% static 'web/images/icons/cate3.svg' %}" alt="">
                        </div>
                        <h5>Couple Tour</h5>
                    </a>
                </div>
                <div class="col">
                    <a class="category-box" href="package.html">
                        <div class="cate-icon mx-auto">
                            <img src="{% static 'web/images/icons/cate4.svg' %}" alt="">
                        </div>
                        <h5>Single Tour</h5>
                    </a>
                </div>
                <div class="col">
                    <a class="category-box" href="package.html">
                        <div class="cate-icon mx-auto">
                            <img src="{% static 'web/images/icons/cate5.svg' %}" alt="">
                        </div>
                        <h5>Honeymoon</h5>
                    </a>
                </div>
                <div class="col">
                    <a class="category-box" href="package.html">
                        <div class="cate-icon mx-auto">
                            <img src="{% static 'web/images/icons/cate6.svg' %}" alt="">
                        </div>
                        <h5>Sea Beach</h5>
                    </a>
                </div>
                <div class="col">
                    <a class="category-box" href="package.html">
                        <div class="cate-icon mx-auto">
                            <img src="{% static 'web/images/icons/cate7.svg' %}" alt="">
                        </div>
                        <h5>Mountain Tour</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <header>
        <div class="header-area header-style-three position-absolute w-100">
            <div class="container-fluid">
                <div class="row">
                    <div
                        class="col-xxl-2 col-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12 align-items-center d-xl-flex d-lg-block">
                        <div class="nav-logo d-flex justify-content-between align-items-center">
                            <a href="index.html"><img src="{% static 'web/images/logo-w.png' %}" alt="logo"></a>
                            <div class="mobile-menu d-flex ">
                                <div class="d-flex align-items-center">
                                    <div class="nav-right-icons d-xl-none d-flex align-items-center ">
                                        <div class="user-dropdown">
                                            <i class='bx bx-user-circle'></i>
                                            <ul class="user-drop-list">
                                                <li><a href="#">My Account</a></li>
                                                <li><a href="#">Login</a></li>
                                                <li><a href="#">Registration</a></li>
                                                <li><a href="#">Setting</a></li>
                                            </ul>
                                        </div>
                                        <div class="category-toggle"><i class='bx bx-category'></i></div>
                                    </div>
                                    <a href="javascript:void(0)" class="hamburger d-block d-xl-none">
                                        <span class="h-top"></span>
                                        <span class="h-middle"></span>
                                        <span class="h-bottom"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-8 col-sm-6 col-xs-6">
                        <nav class="main-nav">
                            <div class="inner-logo d-xl-none text-center">
                                <a href="#"><img src="{% static 'web/images/logo.png' %}" alt=""></a>
                            </div>
                            <ul>
                                <li class="">
                                    <a href="{% url 'web:index' %}">Home</a>
                                </li>
                                <li><a href="{% url 'web:about' %}">About Us</a></li>
                                <li class="">
                                    <a href="{% url 'web:services' %}">Services</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'web:packages' %}">Packages</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'web:blog' %}">Blogs</a>
                                </li>
                                <li class="">
                                    <a href="{% url 'web:gallery' %}">Gallery</a>
                                </li>
                                <li><a href="{% url 'web:contact' %}">Contact Us</a></li>
                            </ul>
                            <div class="inner-contact-options d-xl-none">
                                <div class="contact-box-inner"><i class="bi bi-telephone-fill"></i> <a
                                        href="tel:+17632275032">+1 763-227-5032</a></div>
                                <div class="contact-box-inner"><i class="bi bi-envelope-fill"></i> <a
                                        href="https://demo.egenslab.com/cdn-cgi/l/email-protection#3851565e57785d40595548545d165b5755"><span
                                            class="__cf_email__"
                                            data-cfemail="92fbfcf4fdd2f7eaf3ffe2fef7bcf1fdff">[email&#160;protected]</span></a>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xxl-3 col-xl-2 col-lg-1">
                        <div class="nav-right d-xl-flex d-none">
                            <div class="nav-right-hotline d-xxl-flex d-none">
                                <div class="hotline-icon">
                                    <img src="{% static 'web/images/icons/header-phone.svg' %}" alt="">
                                </div>
                                <div class="hotline-info">
                                    <span>Hot Line Number</span>
                                    <h6><a href="tel:8801761111456">+880 176 1111 456</a></h6>
                                </div>
                            </div>
                            <div class="nav-right-icons gap-3">
                                <div class="header-search search-btn">
                                    <i class='bx bx-search-alt'></i>
                                </div>
                                <div class="category-toggle"><i class='bx bx-category'></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>